#all{
    overflow: hidden;
    font-family: "hero-new", sans-serif;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#header{
    display: flex;
    min-height: 49px;
    justify-content: flex-end;
    align-items: center;
    border-bottom: solid lightgray 1px;
    font-size: 16px;
    flex: 1;
}
    #logo{
        margin-right: auto;
        font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 18px
    }
    a{
        text-decoration: none;
        color: black;
    }
    
    #header a{
        padding:18px;
    }
    #hamburger{
        display: none
    }
    #header a:nth-child(3){
        font-weight: 700
    }
#content{
    display: flex;
    flex: 10;
}
    #face{
        flex: 2;
        border: solid black 1px;
        background-image: url('face_1.jpg');
        background-size: cover;
        background-position-x: center;
        background-position-y: 30%;

    }
    #sidebar{
        flex: 1;
        font-family: "proxima-nova", sans-serif;
        line-height: 19px;
        min-width: 340px;
    }
        #words{
            padding: 60px;
        }
            h1{
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 3px;
                margin: 10px 0;
            }
            h2{
                font-size: 16px;
                font-weight: 700
            }
            #link{
                text-align: center;
                padding: 15px 20px;
                color: white;
                margin: 22px 0;
                background-color: #305B90;
                border-radius: 5px
            }
            #link:hover{
                transition: 100ms;
                background-color:#456c9c
            }
            p{
                line-height: 24px;
                margin: 22px 0;
            }
            h3{
                color: gray;
                font-size: 12px;
                letter-spacing: 3px;
                margin: 5px 0;
            }
            h4{
                font-size: 14px;
            }
            #thumbnails img{
                width: 39px;
                margin: 12px 12px 12px 0;
            }
#footer{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
    background-color: rgba(255,255,255, .7);
    box-shadow:20px 20px 10px 20px rgba(0,0,0, .3);
}
    #tagline{
        padding: 20px;
    }
    #button{
        padding: 12px 20px;
        margin: 18px;
        color: white;
        background-color: #0773B4;
        border-radius: 5px
    }
    #button:hover{
        transition: 100ms;
        background-color:#07639C;
    }
@media (max-width: 1200px) { /* tablet-L */
}
@media (max-width: 800px) { /* tablet-P */
    body{
        text-align: center;
    } 
    #content{
        display: inline-block;
    }
    #face{
        height: 50vh;
        background-position: center; 
        background-image: url('face.jpg');
    }
    #words{
        position: relative;
        top: -150px;
        
    }
    h1{
        color: #ffffff;
        text-shadow: 3px 3px 15px #000000;
    }
    h2{
        color: #ffffff;
        text-shadow: 3px 3px 15px #000000;
    }
    #tagline{
        display: none
    }
    #footer{
        justify-content: center
    }
}
@media (max-width: 600px) { /* mobiel */
    .nav{
        display: none;
    }
    #hamburger{
        display: inline;
        margin: 20px
    }
}


